<h3 style="margin-left: 5%;">Create a new ticket</h3>
<form class="ticket-form" [formGroup]="ticketForm">
  <label for="title">
    Title <br>
    <input class="input-custom" type="text" id="title" [formControlName]="'title'">
  </label>
  <br>
  <label for="description">
    Description <br>
    <input class="input-custom" type="text" id="description" [formControlName]="'description'">
  </label>
  <br>

  <label for="major">
    Filiere <br>
    <select class="input-custom" id="description" type="text"  [formControlName]="'major'">
      <option *ngFor="let item of listMajor" [value]="item">
        {{item}}
      </option>
    </select>
  </label>
  <br>

  <label for="student">
    Student <br>
    <select class="input-custom" id="description" type="text"  [formControlName]="'student'" >
      <option *ngFor="let std of StudentsList" [value]="std.id">
        {{std.nom}}
      </option>
    </select>
  </label>
  <br>

  <button type="submit" class="btn-custom" (click)="addTicket()">Create</button>
</form>

<!-- Uncomment below to see your form structure and how it changes-->
<br>
{{ticketForm.getRawValue() | json}}
<div *ngIf="this.ticketForm.get('student').value != null">
  {{
    studentService.find(this.ticketForm.get('student').value).id +'-'+
    studentService.find(this.ticketForm.get('student').value).nom+' '+
    studentService.find(this.ticketForm.get('student').value).prenom
  }}
</div>

