
<div class="filter" id="filter">
  <input type="text" list="students" placeholder="Pick a student" ngModel (ngModelChange)="filterclick($event)" id="fullName" name="fullname"/>
  <datalist id="students">
    <option *ngFor="let std of students">
      {{ std.nom+' '+std.prenom }}
    </option>
  </datalist>
  <button (click)="showStudentSelected()"> > </button>

</div>

<div class="del" id="del" *ngIf="studentToDelete!=null">
  <img src="{{studentToDelete.image}}" class="avtr" alt="avarat">
  <p>{{studentToDelete.nom +" "+studentToDelete.prenom}}</p>
  <button (click)="doDelete(studentToDelete)"><b>X</b></button>
</div>

<div class="content">

   <app-ticket-form></app-ticket-form>
  <div class="ticket-list">
    <div class="ticket" *ngFor="let ticket of ticketList" >
        <!--Inputs & Output allow communication between parent & child components.-->
        <!--More information: https://angular.io/guide/component-interaction-->
        <app-ticket *ngIf="ticket.archived==displayTicketArchived" [ticket]="ticket" (ticketHasBeenSelected)="ticketHasBeenSelected($event)"
        (ticketHasBeendeleted)="ticketHasBeendeleted($event)"
        (deleteTicket)="deleteTicket($event)"
        (doArchive)="doArchive($event)"
        ></app-ticket>
    </div>
  </div>

  <div class="toggle">

    <Button (click)="ShowarchivedTickets(true)" >Show Archived Tickets</Button><br>
    <Button (click)="HideArchivedTickets(false)">Hide Archived Tickets</Button>

  </div>
</div>
